<%= form_for(@job, url: jobs_path, html: {multipart: true}) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :logo %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :headquarters %><br>
    <%= f.text_field :headquarters %>
  </div>
  <div class="field">
    <%= f.label :job_description %><br>
    <%= f.text_area :job_description %>
  </div>
  <div class="field">
    <%= f.label :how_to_apply %><br>
    <%= f.text_area :how_to_apply %>
  </div>
  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :company_url %><br>
    <%= f.text_field :company_url %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :tag_list, tags_with_formatting %>
  </div>
  <div class="field">
    <%= f.label :highlight %> for only 49$<br>
    <%= f.check_box :highlight %>
  </div>
  <% unless Rails.env.production? %>
    <div class="field">
      DEBUG:
      <%= f.label :paid %><br>

      <%= f.check_box :paid %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit 'Publish Ad', class: 'button' %>
  </div>
<% end %>
