<ul class="job-list">

  <% if @tag %>
    <%= link_to '< Back to all categories', root_path %>
    <h2><%= @tag.titlecase %> Jobs</h2>
  <% else %>
    <h2>All Jobs</h2>
  <% end %>
  <% if @jobs.count == 0 %>
    <div class="nothing-here-sorry">
      <img src="/icons/sad_ipod.png">
      <p>
      Sorry, no <%= @tag %> jobs published yet. <br>
      <%= link_to("Post yours", new_job_path) %> and get access to the best people, everywhere
      </p>
    </div>
  <% else %>
    <% @jobs.each do |job| %>
      <li class="<% if job.highlight %>highlight<% end %>" >

        <% if job.created_at > 1.week.ago %>
          <span class="new-job-flair">
            NEW
          </span>
        <% end %>

      <%= link_to(job) do %>
      <span class="job-company_name"><%= job.company_name %></span>
      <span class="job-title"><%= job.title %></span>
      <span class="job-headquarters"><%= job.headquarters %></span>

      <span class="date">
        <%= job.created_at.strftime("%B")[0..2] %> <%= job.created_at.day %>
      </span>
    <% end %>
    </li>
  <% end %>
<% end %>

</ul>
<br>
