<%= link_to(new_job_path) do %>
  <span class="button">
    Post a Job<br/>
    $199 for 30 days
  </span>
<% end %>

<ul class="job-list">

  <% @jobs.each do |job| %>
    <li class="<% if job.highlight %>highlight<% end %>" >

    <% if job.created_at > 1.day.ago %>
      <span class="new-job-flair">
        NEW
      </span>
    <% end %>

    <%= link_to(job) do %>
      <span class="job-title"><%= job.title %></span>
      <span class="job-company_name"><%= job.company_name %></span>, <span class="job-headquarters"><%= job.headquarters %></span>

      <span class="date">
        <%= job.created_at.strftime("%B")[0..2] %> <%= job.created_at.day %>
      </span>
    <% end %>

    </li>
  <% end %>

</ul>
<br>
