<h1>Listing jobs</h1>

<ul>
  <% @jobs.each do |job| %>
    <li class="<% if job.highlight %>highlight<% end %>" >
      <%= link_to(job) do %>
        <%= job.title %> at <%= job.company_name %> from <%= job.headquarters %>
      <% end %>
    </li>
  <% end %>
</ul>
<br>

<%= link_to 'New Job', new_job_path %>
