<p id="notice"><%= notice %></p>

<!-- if the invoice is not paid and has not expired -->
<% if !@job.paid && !@job.bitcoin_invoice.is_expired? %>
  <div class="please-pay-up">
    Your ad is ready to be published! <a href=
      <% if Rails.env.development? %>
        "https://test.bitpay.com/invoice?id=<%= @job.bitcoin_invoice[:bitpay_id] %>"
      <% else %>
        "https://bitpay.com/invoice?id=<%= @job.bitcoin_invoice[:bitpay_id] %>"
      <% end %>
       >Click here to go to the last step.</a> After paying the invoice, your ad will be published to the best job seekers there is.
  </div>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Headquarters:</strong>
  <%= @job.headquarters %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @job.job_description %>
</p>

<p>
  <strong>How to apply:</strong>
  <%= @job.how_to_apply %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @job.company_name %>
</p>

<p>
  <strong>Company url:</strong>
  <%= @job.company_url %>
</p>

<p>
  <strong>Email:</strong>
  <%= @job.email %>
</p>

<p>
  <strong>Highlight:</strong>
  <%= @job.highlight %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @job.paid %>
</p>

<%= link_to 'Back', jobs_path %>
