<%= link_to "< Back to #{@job.tag_list.last} jobs", tag_path(@job.tag_list.last), class: "back-link" %>

<p id="notice"><%= notice %></p>


<!-- if the invoice is not paid and has not expired -->
<% if !@job.paid && !@job.bitcoin_invoice.is_expired? %>
  <div class="please-pay-up">
    Your ad is ready to be published! <a href=
      <% if Rails.env.development? %>
        "https://test.bitpay.com/invoice?id=<%= @job.bitcoin_invoice[:bitpay_id] %>"
      <% else %>
        "https://bitpay.com/invoice?id=<%= @job.bitcoin_invoice[:bitpay_id] %>"
      <% end %>
       >Click here to go to the last step.</a> After paying the invoice, your ad will be published to the best job seekers there is.
  </div>
<% end %>

<div class="ad-box">

  <section class="row job-information company-information">
    <div class="large-8 columns">
      <h1 class="title"><%= @job.title.upcase %></h1>
      <h3 class="date subheader">Posted 
        <%= @job.created_at.strftime("%B")[0..2] %> <%= @job.created_at.day %>
      </h3>

    <h3 class="company-name subheader"><%= @job.company_name %></h3>
    <h4 class="headquarters subheader">Headquarters: <%= @job.headquarters %></h4>
    <h5 class="company-url subheader"><code><a href="<%= @job.company_url %>"><%= @job.company_url %></a></code></h5>
    </div>

    <div class="large-4 columns">
      <% if !@job.logo.size.nil? %>
        <%= image_tag(@job.logo.url(:medium), class: "logo") %>
      <% end %>
    </div>


  </section>
  <section class="job-description">
    <%= @job.job_description %>
    </p>
  </section>
  <section class="apply">
    <a href="<%= @job.how_to_apply %>" class="button" >Apply For This Position</a>
  </section>

</div>

