<div class="welcome-copy row">
  <div class="large-8 columns">
    We find you and list you the jobs that aren't restricted by commutes or a particular geographic area, internatinally. <a href="#">Learn more...</a>
  </div>
  <div class="large-4 columns">
    <%= link_to(new_job_path) do %>
      <span class="buy-button button">
        Post a Job<br>
        $199 for 30 days
      </span>
    <% end %>
  </div>
</div>
<div class="ad-box">
  <div class="row">
    <% WHITELISTED_TAGS.each do |tag| %>
      <div class="large-6 columns">

        <%= link_to tag_path(tag) do %>

          <section class="category">
            <%= image_tag("icons/sad_ipod.png", class: "category-icon") %>

            <%= "[#{image_path("icons/sad_ipod.png")}, (default)], [#{image_path("icons/sad_ipod_small.png")}, (small)]" %>



            <div>
              <h6 class="subheader">Find</h6>
              <h5 class="category-name"><%= tag.upcase %></h5>
              <h6 class="subheader">Jobs</h6>
          </div>
          </section>
        <% end %>

      </div>
    <% end %>
  </div>
</div>
