<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Remote Bitcoin Jobs" %></title>
    <link rel="icon" type="image/png" href="favicon.png">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600,400|Varela+Round' rel='stylesheet' type='text/css'>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <header class="row application-head">
    <div class="large-4 columns">
      <a href="/">
        <img src="http://placekitten.com/g/200/200" class="logo"/>
      </a>
    </div>
    <div class="large-4 columns copy-text">
      We find and list you the jobs that aren't restricted by commutes or a particular geografic area, internationally
    </div>
    <div class="large-4 columns">
      <a href="https://twitter.com/remotebtcjobs"><img src="https://abs.twimg.com/favicons/favicon.ico"/>Follow us on Twitter</a>
    </div>
  </header>

  <div class="row main">
    <div class="large-12 columns">
    <%= yield %>
    </div>
  </div>

  <footer class="row">
    <div class="small-3 small-centered columns">
      <p>Contact us:<br/>
      <a href="https://twitter.com/remotebtcjobs"><img src="https://abs.twimg.com/favicons/favicon.ico"/></a><br/>
      <a href="mailto:hello@remotebitcoinjobs.com">Email</a>
  </div>

  </footer>

  <%= javascript_include_tag "application" %>
  </body>
</html>
